/* ______General styles_______ */

body {
    margin: 0em;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'PT Serif', serif; */
}


/* ______HEADER styles_______ */

.consultation {
    background-color: #303030;
    height: 34px;
    color: #d3d2d2;
    font-size: 1em;
    position: relative;
}

.consultation-contacts {
    display: inline-block;
    position: absolute;
    left: 19%;
    padding-top: 6px;
}

.mail {
    margin-left: 15px;
}

.consultation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 19%;
    background-color: #ffc222;
    height: 100%;
    width: 13%;
    color: #303030;
}


/* ______NAVIGATION styles_______ */

.navigation {
    height: 93px;
    width: 100%;
    position: relative;
}

.logotype {
    font-size: 2em;
    display: inline-block;
    position: absolute;
    left: 19%;
    margin-top: 35px;
}

.logotype-first {
    color: #ffc222;
    font-weight: bolder;
}

.nav {
    display: inline-block;
    position: absolute;
    right: 19%;
    bottom: 50%;
    margin-top: -30px;
    top: 50%;
}

ul {
    position: relative;
}

.nav-first {
    border: 2px solid #ffc222;
    padding: 5px 10px;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: #323232;
}


/* ______SLIDER styles_______ */